<h1>
  <%= @about_me %>
</h1>

<p>
	<% @answer = 2 + 3 %>
	2 + 3 = <%=  @answer %>
	<!-- Con esto estamos reescribiendo la variable global que definimos
	en el controlador -->
</p>
<button class="btn btn-primary">Prueba de bootstrap</button>
